.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
    cursor:default;
}

.header-list{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    max-width: 900px;
}

.header-list-items{
    list-style: none;
    text-decoration: overline;
}

.header-img{
    margin: 50px 0;
    height: 600px;
    width: 100%;
    background: url(../Images/3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: top; */
    background-size: cover;
    position: relative;
}

.header-image-text{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #A7F3D0;
    text-align: center;
    border-radius: 30px;
    white-space: nowrap;
}

.header-image-text h1 {
    padding: 90px 200;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.header-image-text h1::before {
    content: open-quote ' ';
    color: #10B981;
}

.header-image-text h1::after {
    content:' ' close-quote;
    color: #10B981;

}

.about-us{
    position: relative;
}

.about-us::after {
    content: 'به زودی ' ;
    position: absolute;
    transform: scale(0);
    bottom: 110%;
    right: 105%;
    font-size: .725em;
    transition: transform 150ms;
    text-align: center;
    white-space: nowrap;    
}

.about-us:hover::after {
    transform: scale(1);
}

.services{
    position: relative;
}

.services::after {
    content: 'به زودی ' ;
    position: absolute;
    transform: scale(0);
    bottom: 110%;
    right: 65%;
    font-size: .725em;
    transition: transform 150ms;
    text-align: center;
    white-space: nowrap;    
}

.services:hover::after {
    transform: scale(1);
}

.home{
    position: relative;
}

.home::after {
    content: 'به زودی ' ;
    position: absolute;
    transform: scale(0);
    bottom: 110%;
    right: 22%;
    font-size: .725em;
    transition: transform 150ms;
    text-align: center;
    white-space: nowrap;    
}

.home:hover::after {
    transform: scale(1);
}

.product{
    position: relative;
}

.product::after {
    content: 'به زودی ' ;
    position: absolute;
    transform: scale(0);
    bottom: 110%;
    right: -10%;
    font-size: .725em;
    transition: transform 150ms;
    text-align: center;
    white-space: nowrap;    
}

.product:hover::after {
    transform: scale(1);
}

.articles{
    position: relative;
}

.articles::after {
    content: 'به زودی ' ;
    position: absolute;
    transform: scale(0);
    bottom: 110%;
    right: -55%;
    font-size: .725em;
    transition: transform 150ms;
    text-align: center;
    white-space: nowrap;    
}

.articles:hover::after {
    transform: scale(1);
}

