@font-face{
    src: url(../Fonts/A\ Negaar\ Regular.ttf);
    font-family: main;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: main;
    color: #1F2937;
    scroll-behavior: ;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding:5px 20px;
    border-radius: 10px ;
    transition-duration: .5s;
    cursor: pointer;
}

.hover:hover{
    background-color: #EF4444 ;
    text-decoration-color: #EF4444 ;
    color: azure;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


